<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
    <logger name="jdbc.connection" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="console"/>
    </logger>
 
    <logger name="jdbc.audit" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="console"/>
    </logger>
 
    <logger name="jdbc.sqlonly" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="console"/>
    </logger>
 
    <logger name="jdbc.sqltiming" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>
 
    <logger name="jdbc.resultset" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="console"/>
    </logger>
     
    <logger name="jdbc.resultsettable" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>
            
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
